<!DOCTYPE html>
<html>

<head>

    <title>Lista</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

    <h2>{{list_name}} - {{market}}</h2>

    <a href="/add">Adicionar item</a>

    <table>

        <tr>
            <th>Item</th>
            <th>Qtd</th>
            <th>Preço</th>
            <th>Total</th>
        </tr>

        {% for item in items %}

        <tr>

            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price}}</td>
            <td>{{item.total}}</td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>